.toast {
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translate(-50%, 20px); /* começa levemente abaixo */
	width: 90%;
	max-width: 600px;
	background-color: var(--color-danger);
	color: white;
	padding: 1rem 2rem;
	text-align: center;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	font-size: 1rem;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s ease, transform 0.4s ease;
	z-index: 10;
}

.toast.show {
	opacity: 1;
	transform: translate(-50%, 0); /* sobe para o lugar original */
	pointer-events: auto;
}
